<details>
<summary><b>LuckBoard 🦕</b></summary>

<table>
    <tr>
        <th>Position</th>
        <th>Avatar</th>
        <th>User Name</th>
        <th>No. of time guessed correct</th>
        <th>Issues</th>
    </tr>
    <% topPlayers.map(({ username, issue_numbers }, index)=> { %><tr>
        <td align="center"><b><i> <%= index + 1 %> </i></b></td>
        <td> <img src="https://avatars.githubusercontent.com/<%= username %>?s=32" width="32px" height="32px" /> </td>
        <td><b><i><a href="https://github.com/<%= username %>"> <%= username %> </a></i></b></td>
        <td align="center"><b><i> <%= issue_numbers.length %> </i></b></td>
        <td><% issue_numbers.map((no, index) => { %>
            <b><i><% if (index !== 0) {%>, <% } %><a href="https://github.com/tanishq-singh-2301/tanishq-singh-2301/issues/<%= no %>"><%= no %></a></i></b><% }); %>
        </td>
    </tr>
    <% }); %>
</table>

</details>